@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #707070;
  
    --neutral: 0 0% 20%;
    --neutral-foreground: 240 10% 90%;
    --background: 0, 0%, 2%;
    --foreground: 255 5.1% 98.35%;

    --muted: 255 25.5% 20.1%;
    --muted-foreground: 255 5.1% 56.7%;

    --popover: 255 54.8% 8.71%;
    --popover-foreground: 255 5.1% 98.35%;

    --card: 255 54.8% 8.71%;
    --card-foreground: 255 5.1% 98.35%;

    --border: 255 25.5% 20.1%;
    --input: 255 25.5% 20.1%;

    --primary: 255 51% 67%;
    --primary-foreground: 255 5.1% 6.7%;

    --secondary: 255 25.5% 20.1%;
    --secondary-foreground: 255 5.1% 98.35%;

    --accent: 255 25.5% 20.1%;
    --accent-foreground: 255 5.1% 98.35%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 255 5.1% 98.35%;
    --accent-foreground: 240 10% 90%;
    --success: 145, 63%, 40%;
    --success-foreground: 240 10% 90%;
    --warning: 37, 90%, 51%;
    --warning-foreground: 240 10% 90%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --ring: 0 0% 90%;
    --radius:5px;
  }
  /* Thème React */
  .react {
    --background: 0, 0%, 2%;
    --foreground: 208 9.8% 97.7%;
    --neutral: 0 0% 30%;
    --neutral-forground: 240 10% 98%;
    --card: 208 45.4% 7.0200000000000005%;
    --card-foreground: 208 9.8% 97.7%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 196, 98%, 54%;
    --primary-foreground: 208 9.8% 5.4%;
    --secondary: 208 49% 16.200000000000003%;
    --secondary-foreground: 208 9.8% 97.7%;
    --muted: 196, 98%, 54%;
    --muted-foreground: 0 0% 40%;
    --accent: 208 49% 16.200000000000003%;
    --accent-foreground: 208 9.8% 97.7%;
    --destructive: 345, 100%, 38%;
    --destructive-foreground: 240 10% 90%;
    --warning: 44, 99%, 50%;
    --warning-foreground: 0, 0%, 2%;
    --success: 145, 63%, 40%;
    --success-foreground: 240 10% 90%;
    --border: 208 49% 16.200000000000003%;
    --input: 208 49% 16.200000000000003%;
    --ring: 208 98% 54%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  /* Thème Angular */
  .angular {
    --background: 0, 0%, 2%;
    --foreground:0 10% 97.3%;
    --neutral:359, 59%, 45%;
    --neutral-foreground: 0, 0%, 2%;
    --muted: 359, 59%, 45%;
    --muted-foreground:0 10% 54.6%;
    --popover: 0 45% 5.98%;
    --popover-foreground:0 10% 97.3%;
    --card: 0 45% 5.98%;
    --card-foreground:0 10% 97.3%;
    --primary: 0 100% 46%;
    --primary-foreground: 0 10% 4.6000000000000005%;
    --secondary:0 50% 13.8%;
    --secondary-foreground:  0 10% 97.3%;
    --accent: 0 50% 13.8%;
    --accent-foreground: 240 10% 90%;
    --success: 145, 63%, 40%;
    --success-foreground: 240 10% 90%;
    --warning: 44, 99%, 50%;
    --warning-foreground:0, 0%, 2%;
    --destructive:  345, 100%, 38%;
    --destructive-foreground: 240 10% 90%;
    --border: 0 50% 13.8%;
    --input: 0 50% 13.8%;
    --ring: 240 10% 98%;
  }

  /* Thème Vue */
  .vue {
    --background: 0, 0%, 2%;
    --foreground:240 10% 98%;
    --neutral: 0 0% 30%;
    --neutral-foreground: 240 10% 98%;
    --muted: 153, 48%, 49%;
    --muted-foreground:210, 29%, 29%;
    --popover: 0, 0%, 2%;
    --popover-foreground: 153, 48%, 49%;
    --card: 0, 0%, 2%;
    --card-foreground: 153, 48%, 49%;
    --primary: 153, 48%, 49%;
    --primary-foreground:210, 29%, 29%;
    --secondary:210, 29%, 29%;
    --secondary-foreground: 240 10% 90%;
    --accent: 0 0% 30%;
    --accent-foreground: 240 10% 90%;
    --success: 145, 63%, 40%;
    --success-foreground: 240 10% 90%;
    --warning: 44, 99%, 50%;
    --warning-foreground:0, 0%, 2%;
    --destructive:  345, 100%, 38%;
    --destructive-foreground: 240 10% 90%;
    --border: 210, 29%, 29%;
    --input: 0 0% 30%;
    --ring: 210, 29%, 29%;
}
}


@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-border bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }

  .category {
    position: relative;
  }

  .category:before {
    @apply absolute left-0 top-0 -ml-1 mt-1 h-2 w-2 rounded-full bg-muted content-[''];
  }

  .category:after {
    @apply absolute left-0 top-3 h-2 w-[1px] bg-muted content-[''];
  }

  .category-xl {
    position: relative;
  }

  .category-xl:before {
    @apply absolute left-0 top-0 -ml-[7px] mt-[7px] h-4 w-4 rounded-full bg-muted content-[''];
  }

  .category-xl:after {
    @apply absolute left-0 top-3 h-4 w-[1px] bg-muted content-[''];
  }

  @media (max-width: 640px) {
    .container {
      @apply px-4;
    }
  }
}
.shiki,
.shiki span {
  background-color: transparent !important;
}

/* TODO PUT THIS SHIT IN TAILWIND CLASSES */

.data-dragging .data-scrollable [data-direction="top"] {
  overflow-y: hiden !important;
}
.data-dragging .data-scrollable [data-direction="bottom"] {
  overflow-y: hiden !important;
}

.data-dragging .data-scrollable [data-direction="left"] {
  overflow-x: hiden !important;
}

.data-dragging .data-scrollable [data-direction="right"] {
  overflow-x: hiden !important;
}

[data-drawer]::after {
  content: "";
  position: absolute;
  background: inherit;
  background-color: inherit;
}

[data-drawer][data-direction="top"]::after {
  top: initial;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 200%;
}

[data-drawer][data-direction="bottom"]::after {
  top: 100%;
  bottom: initial;
  left: 0;
  right: 0;
  height: 200%;
}

[data-drawer][data-direction="left"]::after {
  left: initial;
  right: 100%;
  top: 0;
  bottom: 0;
  width: 200%;
}

[data-drawer][data-direction="right"]::after {
  left: 100%;
  right: initial;
  top: 0;
  bottom: 0;
  width: 200%;
}

@media (hover: hover) and (pointer: fine) {
  [data-drawer] {
    user-select: none;
  }
}

@media (pointer: fine) {
  [data-handle-hitarea] {
    width: 100%;
    height: 100%;
  }
}